/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import "primereact/resources/themes/saga-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

:root {
  --color-bg: #5063BF;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --a-color: #3165cb;
  --sidebar-active: #3E4FA5;
  --base-color: #fff;
  --filter-bg: #E4E4E4;
  --graph-card-shadow: #ddd;
  --view-name-color: #495057;
  /* color_code for secondary */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  font-family: "Poppins", sans-serif;
  height: auto;
  overflow-y: auto;
  overscroll-behavior-x: none;
  /* color:#a54125;
  color:; */



}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 0.2rem;
}

.layout__main-content {
  flex-grow: 1;
  background: #fff;
}

.sidebar__wrapper {
  position: relative;
}

.sidebar {
  width: 12rem;
  height: 100%;
  background-color: var(--color-bg);
  padding: 0rem 0rem 0.5rem 0rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
  box-shadow: 0px 0px 15px 1px #ddd;
}

.sidebar__top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-bottom: 1rem; */
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
  background: #fff;
  justify-content: center;
  height: 65px;
}

.sidebar__logo {
  width: 60%;
  /* height: 3.5rem; */
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar__logo-name {
  font-size: 11px;
  font-weight: 700;
  padding-top: 1rem;
  letter-spacing: 0.5px;
}

.sidebar__list {
  list-style: none;
  padding-left: 0;
}

.sidebar__link {
  display: inline-block;
  font-size: 11px;
  text-decoration: none;
  color: var(--base-color);
  padding: 0.5rem 0.71rem;
  display: flex;
  margin-bottom: 0.31rem;
  align-items: end;
}

.sidebar__link:hover {
  color: var(--base-color);
  background-color: var(--sidebar-active);
}

.sidebar__link--active {
  color: var(--base-color);
  background-color: var(--sidebar-active);
  /* border-right: 5px solid var(--secondary-600); */
}

.sidebar__icon {
  /* display: inline-block;
  font-size: 1.2rem; */
  display: flex;
  font-size: 1.1rem;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 4rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.sidebar__btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
  padding: 0;
  outline: none;
  box-shadow: 0px 0px 10px 2px #ccc;
  border-radius: 27px;
  line-height: 0;
}

/* Main Header Style */
.main_header_class {
  border-bottom: 1px solid var(--primary-50);
  height: 65px;
  box-shadow: 0px 0px 8px 0px #ddd;
}

/* Main Header Style */
/* Primereact Dialog Header */
.p-dialog {
  border-radius: 12px !important;
}

.p-dialog .p-dialog-header {
  padding: 0.5rem 1.5rem !important;
  border-top-right-radius: 12px !important;
  border-top-left-radius: 12px !important;
}

.p-dialog .p-dialog-content:last-of-type {
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}

/* //custom_scroll */
body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

body::-webkit-scrollbar-track {
  background: #eaecf0;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sidebar-active-color);
  border-radius: 5px;
  opacity: 0.3;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-active-color);
}

.clr_red {
  color: var(--error-500);
  margin-left: 5px;
  font-weight: 700;
}

.clr_green {
  color: var(--success-500);
  margin-left: 5px;
  font-weight: 700;
}

label {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  color: var(--gray-700);
  margin-bottom: 0.5rem;
}

.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem var(--filter-bg) !important;
  border-color: var(--filter-bg) !important;
}

.p-inputtext:enabled:hover,
.p-dropdown:not(.p-disabled):hover {
  border-color: var(--filter-bg) !important;
}

.p-calendar-w-btn-right .p-datepicker-trigger {
  background-color: transparent !important;
  color: var(--gray-500) !important;
  /* border: #ced4da; */
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px !important;
  background-color: transparent !important;
  color: var(--gray-500) !important;
  border: 1px solid #ced4da !important;
  height: 34px;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none !important;
}

.p-calendar-w-btn-right .p-inputtext {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 34px;
  font-size: 11px;
  background-color: var(--filter-bg);
}

/* .p-button-icon-only:enabled:hover,
.p-button-icon-only:not(button):not(a):not(.p-disabled):hover {
  background-color: transparent !important;
  color: var(--gray-500) !important;
  border: none !important;
}
.icon_button_style .p-button.p-button-icon-only {
  background-color: transparent !important;
  color: var(--gray-500) !important;
  border: 0 !important;
  height: 34px;
} */
/* .p-inputtext {
  border-radius: 6px !important;
} */
.p-button .p-button-icon-right {
  margin-left: 0.5rem;
  font-size: 11px;
  margin-top: 0.2rem;
}

.p-breadcrumb {
  background: #ffffff;
  border: 0 !important;
  border-radius: 3px;
  padding: 1.3rem !important;
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link {
  color: var(--gray-700);
}

.p-breadcrumb .p-breadcrumb-list li:last-child .p-menuitem-text {
  color: var(--secondary-600) !important;
  /* font-weight: 500; */
}

.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link:focus {
  box-shadow: none !important;
}

.p-dropdown-panel .p-dropdown-items {
  padding: 0.3rem 0 !important;
  font-size: 11px !important;
}

.p-dropdown .p-dropdown-label,
.p-dropdown .p-dropdown-label.p-placeholder {
  font-size: 11px !important;
}

/* //Data Table  */
.p-datatable .p-column-header-content {
  font-size: 12px;
  font-weight: 500;
  width: 100px;
  display: contents !important;
}

.p-datatable .p-datatable-thead>tr>th,
.p-datatable .p-datatable-tbody>tr>td {
  padding: 0.55rem 0.5rem !important;
  font-size: 12px;
  background-color: #E2F2F5 !important;
  margin-bottom: .5rem;
}

/* //Data Table  */
.p-inputswitch {
  width: 2rem !important;
  height: 1rem !important;
}

.p-inputswitch .p-inputswitch-slider:before {
  background: #ffffff;
  width: 0.75rem !important;
  height: 0.7rem !important;
  left: 0rem !important;
  margin-top: -0.35rem !important;
  border-radius: 50%;
  transition-duration: 0.2s;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(1rem) !important;
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider,
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: var(--sidebar-active) !important;
}

/* Input Switch */
/* tooltip */

.p-tooltip-text {
  font-size: 10px;
}

/* tooltip */

/* prime react dialog  */
.p-dialog .p-dialog-content {
  padding: 10px !important;
}

.p-dialog-content {
  /* border-radius: 12px !important; */
}

/* prime accordian  */

.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  display: none;
}

.p-accordion-header-text {
  width: 100%;
}

.custom-accordian-tab {
  margin-bottom: 30px !important;
}

.custom-accordian-wrapper .p-accordion-tab {
  margin-bottom: 30px !important;
}

.p-accordion-tab .p-accordion-header .p-accordion-header-link {
  border-top: 1px solid #dee2e6 !important;
}

.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
  box-shadow: none !important;
}

/* AVATAR Text  */
.p-avatar-text {
  font-size: 12px;
}

/* //Media queries */
@media (max-width: 768px) {
  .sidebar__list {
    list-style: none;
    padding: 0;
  }
}

/* //Media queries */

.card {
  padding: 0;
  margin: 0;
  border-radius: 12px !important;
}

/* class for modals  */
.modal-padding {
  padding-right: 1.9rem;
  padding-left: 1.6rem;
  padding-bottom: 1rem;
}

.clr_red {
  color: #f04438;
}

.sidebar__item .submenu {
  padding: 0;
  margin-left: 20px;
  list-style: none;
  border-left: 1px solid var(--base-color);
}

input[type="file"] {
  padding: 5px;
}

/* Scroll */
.max-height-view {
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: auto;
}

.max-height-view::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.max-height-view::-webkit-scrollbar-track {
  background: #eaecf0;
  border-radius: 5px;
}

.max-height-view::-webkit-scrollbar-thumb {
  background: var(--color-bg);
  border-radius: 5px;
  opacity: 0.3;
}

.max-height-view::-webkit-scrollbar-thumb:hover {
  background: var(--color-bg);
}

/* Bredcrumb font size and font weight */
.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-text {
  font-weight: 500;
  font-size: 18px;
}

.main_header p {
  color: var(--view-name-color);
  font-weight: 500;
  font-size: 18px;
}
.custom-button-css > .p-button {
  color: gray !important;
  background:none;
  border: none !important;
  margin-left: 5px !important;
  font-size: 16px !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0!important;
}
.custom-button-css > .p-button:hover {
  /* color: gray !important;
  border: 1px solid #38373d !important;
  border-radius: 50% !important; */
  color: gray !important;
  background:none;
  border: none !important;
  margin-left: 5px !important;
  font-size: 16px !important;
  width: auto !important;
  height: auto !important;
  border-radius: 0!important;
}
.custom-button-css > .p-splitbutton-defaultbutton {
  display: none !important;
}
.layout-topbar-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 10px;
  align-items: center;
}
.layout-topbar-header .p-splitbutton.p-button-text > .p-button:enabled:active, .p-splitbutton.p-button-text > .p-button:not(button):not(a):not(.p-disabled):active{
  background-color: transparent;
}